@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.portfolio-container1{
    min-height: 100vh;
    width: 100%;
    display: flex;
}
.navlist1{
    display: flex;
    gap: 3.5em;
    height: 10vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.navlist1 li{
    list-style: none;
}
.navlist1 li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: #ffff;
    position: relative;
}
.left ,.right
{
    height: 100vh;
    display: flex;
    align-items: center;
}
.left
{
    background: #262526;
    width: 70%;
    padding-left: 3rcap;
}
.right{
    background: linear-gradient(-45deg,#3877ff,#262525 70%);
    width: 30%;
}
.design1 .round
{
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 15%;
    transform: translate(-50%,-50%);
}
.round:nth-child(1)
{
    background:linear-gradient(90deg,transparent 50%,#262525 50%);
    width: 38rem;
}
.round:nth-child(2)
{
    
    width: 30rem;
    background-image: url("./image/img4.jpg");
    background-size: 120%;
    background-repeat: no-repeat;
    border: 1rem solid white;
    box-shadow: 
    0 0 1rem #fff,
    inset 0 0 1rem #fff,
    0 0 2rem #3877ff,
    inset 0 0 2rem #3877ff,
    0 0 4rem #3877ff,
    inset 0 0 4rem #3877ff;
}
.navlist1 li a::after ,.navlist1 .present::after{
    content: "";
    position: absolute;
    background: #fff;
    width: 100%;
    height: .1rem;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .5s;
}
.navlist1 li a:hover::after,.navlist1 .present::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
/* Add this CSS code for the image animation */
.design1 .round {
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    top: 80%; /* Set initial position below the container */
    left: 15%;
    transform: translate(-50%, -50%);
    animation: slideIn 1.5s ease-out forwards; /* Slide in animation */
}

@keyframes slideIn {
    to {
        top: 50%; /* Set final position at the center */
    }
}
